body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.drop{
    margin-left: 550px;
}
.dropdown-item:hover{
    background-color: rgb(10, 187, 241);
}
.nav-item{
    padding: 10px;
}
.nav-item:hover{
    background-color: rgb(10, 187, 241);
}

/* son */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    border-radius: 10px;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
/* ====== */
label{
  display: flex;
  justify-content: flex-start;
}




